.common-bar
  bottom 0
  height 3.5rem
  left 0
  padding 1rem
  position absolute
  right 0

  background-color #ddd
  border-top 1px solid #999

.common-bar__title
  bottom 1rem
  left 1rem
  margin 0
  position absolute
  z-index 1000

  color #666

.common-bar__title__subhead
  font-weight normal

.common-bar__social
  bottom 1rem
  height 28px
  margin 0
  position absolute
  right 1rem

.common-bar__social a
.common-bar__social a:link
.common-bar__social a:visited
  border 0
