.breakpoint {
	overflow: hidden;

	border-bottom: 1px solid #ccc;
}

.btn-remove-breakpoint {
	display: none;
}

.breakpoint:last-child .btn-remove-breakpoint {
	display: inline-block;
}

form {

}

.form-group {
	float: left;
	width: 25%;
}

label {
	display: block;
}

input + label {
	display: inline;
}

textarea {
	height: 25em;
	width: 45em;
}
