.icon
  display inline-block

  background transparent none no-repeat center center
  background-size contain

  vertical-align top

.i--28
  height 28px
  width 28px

.i--22w
  width 22px

.i--thomasjbradley
  background-image embedurl("../img/i-thomasjbradley.svg")
  background-size auto 100%

.i--github
  background-image embedurl("../img/i-github.svg")

.i--twitter
  background-image embedurl("../img/i-twitter.svg")
