.icon
  display inline-block

  background transparent none no-repeat center center
  background-size contain

  vertical-align middle

.i--28
  height 28px
  width 28px

.i--20w
  width 20px

.i--thomasjbradley
  background-image url("../img/i-thomasjbradley.svg")
  background-size auto 100%

.i--github
  background-image url("../img/i-github.svg")

.i--twitter
  background-image url("../img/i-twitter.svg")
